<div id="taskOptionsOverlay">
    <span><img src="/trash.svg" alt=""></span>
    <span><img src="/task.svg" alt=""></span>
    <span><img src="/colourPalette.svg" alt=""></span>
    <span><img src="/label.svg" alt=""></span>
</div>