<div id="task">
    <button id="taskButton">task</button>
    <input type="text" id="taskTextInput" value="<%= task.text %> <%= task.id %>">
    <span>
        <img src="/pen.svg" alt="" id="optionsIcon">
        <%- include ("taskOptionsOverlay.ejs") %>
    </span>
    <%for(subtask of task.subtasks){%>
        <div id="subtask">
            <button id="subtaskButton">subtask</button>
            <input type="subtaskTextInput" value="<%=subtask.text%>">
        </div>
        <%}%>
</div>