<div id="taskOptionsOverlay">
    <span><img src="/trash.svg" alt="" id="deleteTaskIcon"></span>
    <span><img src="/task.svg" alt="" id="newTaskIcon"></span>
    <span><img src="/colourPalette.svg" alt="" id="changeColourIcon"></span>
    <span><img src="/label.svg" alt="" id="newLabelIcon"></span>
</div>