<div>
    <li>
        <button>test task</button>
        <input type="text" value="<%= task.text %> <%= task.id %>">
        <span><img src="/pen.svg" alt="" height="15px" width="15px"></span>
        <ul>
            <%for(subtask of task.subtasks){%>
                <li>
                    <button>test subtask</button>
                    <input type="text" value="<%=subtask.text%>">
                </li>
            <%}%>
        </ul>
    </li>
</div>