<div id="optionsOverlay">
    <span><img src="/trash.svg" alt="" id="binIcon"></span>
    <span><img src="/task.svg" alt="" id="taskIcon"></span>
    <span><img src="/colourPalette.svg" alt="" id="colourPaletteIcon"></span>
    <span><img src="/priceTag.svg" alt="" id="priceTagIcon"></span>
</div>