#taskOptionsOverlay {
    background-color: #f7f6e7;
    width: fit-content;
    height: fit-content;
    padding: 2px 2px;
    display:none;
}

#taskOptionsOverlay img {
    width: 17px;
    width: 17px;
}