<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="stylesheets/index.css">
    <link rel="stylesheet" href="stylesheets/taskOptionsOverlay.css">
    <link rel="stylesheet" href="stylesheets/taskComponent.css">
    <link rel="stylesheet" href="stylesheets/dragAndDrop.css">
</head>

<body>
    <h1>Index.ejs view!</h1>
    <section id="container">
        <% for(let task of tasks){ %>
            <%- include ("partials/taskComponent.ejs", {task}) %>
                <% } %>
    </section>

    <div id="newTaskDiv">
        <span><img src="/plus.svg" alt="" id="plusIcon"></span>
        <input type="text" placeholder="List item">
    </div>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/helpers.js"></script>
    <script src="/js/taskDragAndDropEvents.js"></script>
    <script src="/js/taskCRUDEvents.js"></script>
    <script src="/js/wireAllEvents.js"></script>
</body>

</html>